{
  "openapi": "3.0.0",
  "info": {
    "title": "AllOneFlow API",
    "description": "AllOneFlow 회계 관리 시스템의 API 문서",
    "version": "1.0.0",
    "contact": {
      "email": "support@aof.com"
    }
  },
  "servers": [
    {
      "url": "https://api.aof.wvl.co.kr",
      "description": "운영 서버"
    },
    {
      "url": "https://dev-api.aof.wvl.co.kr",
      "description": "개발 서버"
    }
  ],
  "tags": [
    {
      "name": "fiscal-years",
      "description": "회계연도 관리"
    },
    {
      "name": "accounts",
      "description": "계정과목 관리"
    },
    {
      "name": "journal-entries",
      "description": "전표 관리"
    },
    {
      "name": "reports",
      "description": "보고서 생성"
    },
    {
      "name": "contracts",
      "description": "계약 관리"
    },
    {
      "name": "card-statements",
      "description": "법인카드 관리"
    },
    {
      "name": "excel",
      "description": "회계 엑셀"
    }
  ],
  "paths": {
    "/api/fiscal-years": {
      "get": {
        "tags": ["fiscal-years"],
        "summary": "회계연도 목록 조회",
        "description": "모든 회계연도 정보를 반환합니다.",
        "responses": {
          "200": {
            "description": "성공적으로 회계연도 목록을 반환합니다.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FiscalYear"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["fiscal-years"],
        "summary": "새 회계연도 생성",
        "description": "새로운 회계연도를 생성합니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "year": {
                    "type": "integer",
                    "example": 2025
                  }
                },
                "required": ["year"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "회계연도가 성공적으로 생성되었습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiscalYearResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounts": {
      "get": {
        "tags": ["accounts"],
        "summary": "계정과목 목록 조회",
        "description": "모든 계정과목 정보를 반환합니다.",
        "responses": {
          "200": {
            "description": "성공적으로 계정과목 목록을 반환합니다.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["accounts"],
        "summary": "새 계정과목 생성",
        "description": "새로운 계정과목을 생성합니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "계정과목이 성공적으로 생성되었습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/api/journal-entries": {
      "post": {
        "tags": ["journal-entries"],
        "summary": "새 전표 생성",
        "description": "새로운 전표를 생성합니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JournalEntryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "전표가 성공적으로 생성되었습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalEntryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/reports": {
      "post": {
        "tags": ["reports"],
        "summary": "새 보고서 생성",
        "description": "새로운 보고서를 생성합니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "보고서가 성공적으로 생성되었습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/reports/download/{report_id}": {
      "get": {
        "tags": ["reports"],
        "summary": "보고서 다운로드",
        "description": "특정 보고서를 다운로드합니다.",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "description": "다운로드할 보고서의 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공적으로 보고서를 다운로드합니다.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/contracts/standard/download": {
      "get": {
        "tags": ["contracts"],
        "summary": "표준 계약서 다운로드",
        "description": "표준 계약서를 다운로드합니다.",
        "responses": {
          "200": {
            "description": "성공적으로 표준 계약서를 다운로드합니다.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/contracts/upload": {
      "post": {
        "tags": ["contracts"],
        "summary": "계약서 업로드",
        "description": "계약서를 업로드합니다.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "contract_name": {
                    "type": "string"
                  },
                  "contract_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "계약서가 성공적으로 업로드되었습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/card-statements/upload": {
      "post": {
        "tags": ["card-statements"],
        "summary": "법인카드 명세서 업로드",
        "description": "법인카드 명세서를 업로드합니다.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "card_company": {
                    "type": "string",
                    "enum": ["shinhan", "kookmin", "hana", "corporate"]
                  },
                  "statement_date": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "법인카드 명세서가 성공적으로 업로드되었습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardStatementResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/card-statements": {
      "get": {
        "tags": ["card-statements"],
        "summary": "법인카드 명세서 목록 조회",
        "description": "법인카드 명세서 목록을 조회합니다.",
        "parameters": [
          {
            "name": "card_company",
            "in": "query",
            "required": false,
            "description": "카드 회사별 필터링",
            "schema": {
              "type": "string",
              "enum": ["shinhan", "kookmin", "hana", "corporate"]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "시작 날짜",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "종료 날짜",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공적으로 법인카드 명세서 목록을 반환합니다.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CardStatement"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/excel/accounting/download": {
      "get": {
        "tags": ["excel"],
        "summary": "회계 엑셀 파일 다운로드",
        "description": "기본 회계 엑셀 파일을 다운로드합니다.",
        "responses": {
          "200": {
            "description": "성공적으로 회계 엑셀 파일을 다운로드합니다.",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/excel/upload": {
      "post": {
        "tags": ["excel"],
        "summary": "엑셀 파일 업로드",
        "description": "엑셀 파일을 업로드합니다.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "file_type": {
                    "type": "string",
                    "enum": ["journal", "account", "fiscal_year"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "엑셀 파일이 성공적으로 업로드되었습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExcelUploadResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FiscalYear": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "year": {
            "type": "integer",
            "example": 2024
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "example": "2024-01-01T00:00:00"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "example": "2024-12-31T23:59:59"
          },
          "is_closed": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "FiscalYearResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "회계연도가 성공적으로 생성되었습니다."
          },
          "fiscal_year_id": {
            "type": "integer",
            "format": "int64",
            "example": 2
          },
          "year": {
            "type": "integer",
            "example": 2025
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-01T00:00:00"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "example": "2025-12-31T23:59:59"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "code": {
            "type": "string",
            "example": "101"
          },
          "name": {
            "type": "string",
            "example": "현금"
          },
          "type": {
            "type": "string",
            "example": "ASSET",
            "enum": ["ASSET", "LIABILITY", "EQUITY", "REVENUE", "EXPENSE"]
          },
          "description": {
            "type": "string",
            "example": "현금 계정"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-04-06T10:30:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-04-06T10:30:00"
          }
        }
      },
      "AccountRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "101"
          },
          "name": {
            "type": "string",
            "example": "현금"
          },
          "type": {
            "type": "string",
            "example": "ASSET",
            "enum": ["ASSET", "LIABILITY", "EQUITY", "REVENUE", "EXPENSE"]
          },
          "description": {
            "type": "string",
            "example": "현금 계정"
          }
        },
        "required": ["code", "name", "type"]
      },
      "JournalEntryLine": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "integer",
            "format": "int64",
            "example": 10
          },
          "debit": {
            "type": "number",
            "format": "double",
            "example": 50000
          },
          "credit": {
            "type": "number",
            "format": "double",
            "example": 0
          },
          "description": {
            "type": "string",
            "example": "사무용품 구매"
          }
        }
      },
      "JournalEntryRequest": {
        "type": "object",
        "properties": {
          "entry_date": {
            "type": "string",
            "format": "date",
            "example": "2024-04-06"
          },
          "description": {
            "type": "string",
            "example": "사무용품 구매"
          },
          "created_by": {
            "type": "string",
            "example": "admin"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JournalEntryLine"
            }
          }
        },
        "required": ["entry_date", "lines"]
      },
      "JournalEntryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "message": {
            "type": "string",
            "example": "전표가 성공적으로 생성되었습니다."
          },
          "entry_date": {
            "type": "string",
            "format": "date",
            "example": "2024-04-06"
          },
          "description": {
            "type": "string",
            "example": "사무용품 구매"
          },
          "created_by": {
            "type": "string",
            "example": "admin"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-04-06T10:30:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-04-06T10:30:00"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JournalEntryLine"
            }
          }
        }
      },
      "ReportRequest": {
        "type": "object",
        "properties": {
          "report_type": {
            "type": "string",
            "example": "income_statement",
            "enum": ["income_statement", "balance_sheet", "cash_flow", "general_ledger"]
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "example": "2024-01-01"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "example": "2024-03-31"
          },
          "format": {
            "type": "string",
            "example": "pdf",
            "enum": ["pdf", "xlsx"]
          }
        },
        "required": ["report_type", "start_date", "end_date"]
      },
      "ReportResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "report_type": {
            "type": "string",
            "example": "income_statement"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "example": "2024-01-01"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "example": "2024-03-31"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-04-06T10:30:00"
          },
          "download_url": {
            "type": "string",
            "example": "/api/reports/download/1"
          }
        }
      },
      "ContractResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "contract_name": {
            "type": "string",
            "example": "공급 계약서"
          },
          "contract_type": {
            "type": "string",
            "example": "supply"
          },
          "upload_date": {
            "type": "string",
            "format": "date-time",
            "example": "2024-04-06T10:30:00"
          },
          "file_name": {
            "type": "string",
            "example": "supply_contract_20240406.pdf"
          }
        }
      },
      "CardStatement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "card_company": {
            "type": "string",
            "example": "shinhan"
          },
          "statement_date": {
            "type": "string",
            "format": "date",
            "example": "2024-03-31"
          },
          "upload_date": {
            "type": "string",
            "format": "date-time",
            "example": "2024-04-06T10:30:00"
          },
          "file_name": {
            "type": "string",
            "example": "shinhan_card_statement_202403.xlsx"
          },
          "total_transactions": {
            "type": "integer",
            "example": 42
          },
          "total_amount": {
            "type": "number",
            "format": "double",
            "example": 3257850
          }
        }
      },
      "CardStatementResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "message": {
            "type": "string",
            "example": "법인카드 명세서가 성공적으로 업로드되었습니다."
          },
          "card_company": {
            "type": "string",
            "example": "shinhan"
          },
          "statement_date": {
            "type": "string",
            "format": "date",
            "example": "2024-03-31"
          },
          "transactions_processed": {
            "type": "integer",
            "example": 42
          },
          "total_amount": {
            "type": "number",
            "format": "double",
            "example": 3257850
          }
        }
      },
      "ExcelUploadResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "엑셀 파일이 성공적으로 업로드되었습니다."
          },
          "file_type": {
            "type": "string",
            "example": "journal"
          },
          "rows_processed": {
            "type": "integer",
            "example": 150
          },
          "successful_rows": {
            "type": "integer",
            "example": 147
          },
          "failed_rows": {
            "type": "integer",
            "example": 3
          },
          "error_report": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "row": {
                  "type": "integer",
                  "example": 45
                },
                "error": {
                  "type": "string",
                  "example": "Invalid account code"
                }
              }
            }
          }
        }
      }
    }
  }
} 